body {
  font-family: Arial, sans-serif;
  padding-top: 70px;
}

h1, h2, h3, h4 {
  color: #333;
}

/* Header.css */
header {
  position: fixed; /* Fixa o cabeçalho no topo */
  top: 0; /* Alinha o topo do cabeçalho com o topo da página */
  width: 100%; /* Faz o cabeçalho ocupar a largura total */
  z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}


.header-buttons button {
  margin-right: 10px;
}

.search-form {
  display: flex;
}

.search-form input {
  padding: 5px;
  margin-right: 5px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-top: -1px; /* remove double borders */
}

li:hover {
  background-color: #f5f5f5;
}

div.questao {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

div.questao p {
  font-weight: bold;
}

div.questao ul {
  padding-left: 20px;
}

/* Adicione isto ao seu arquivo CSS principal */
.container-materias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste o minmax para o tamanho que desejar */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 20px; /* Espaçamento ao redor da grade */
}

.materia-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #007bff; /* Cor de fundo de exemplo */
  color: white;
  padding: 20px;
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de exemplo */
  text-align: center;
}

.materia-item:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  cursor: pointer;
}

.materia-nome {
  font-size: 24px; /* Tamanho do texto */
  font-weight: bold;
}

.materia-quantidade {
  font-size: 18px; /* Tamanho do número de questões */
}

/* Estilo para o contêiner da questão */
.questao-container {
  background-color: #f9bb81;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

/* Estilo para o cabeçalho da questão com matéria e submatéria */
.questao-header {
  background-color: #f6a04e;
  color: white;
  padding: 8px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 0.9em; /* Tamanho da fonte menor para o cabeçalho */
}

/* Estilo para o texto da questão */
.questao-texto {
  margin-top: 20px; /* Espaço entre o cabeçalho e o texto da questão */
}

/* Estilo para as opções de resposta */
.questao-opcoes {
  list-style: none;
  padding: 0;
}

.questao-opcoes li {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.questao-opcoes li:hover {
  background-color: #f7cda0; /* Cor de fundo ao passar o mouse */
}

header {
  display: flex;
  align-items: center; /* Assegura alinhamento vertical */
  justify-content: space-between;
  background-color: #e9e9e9;
  padding: 20px;/* Adicione um pouco de espaço nas laterais */
}

.titulo-header {
  font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
  margin: 0; /* Remove a margem padrão para alinhamento vertical */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Faz o conteúdo do cabeçalho ocupar toda a largura disponível */
}

.pesquisar{
  margin-right: 60px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.likes-btn {
  background-color: #f9bb81; /* Cor de fundo dos botões */
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Espaço entre os botões */
  background-color: transparent;
}

.likes-btn img {
  width: 24px; /* Largura da imagem dentro do botão */
  height: auto; /* Altura automática para manter a proporção */
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 5px;
  margin-right: 10px; /* Espaço entre o campo de texto e o botão */
}

.search-form button {
  padding: 5px 15px;
  background-color: #f9bb81; /* Cor de fundo do botão de pesquisa */
  border: none;
  cursor: pointer;
}


.botao-redondo {
  display: block; /* Faz o botão ser um bloco para poder centralizá-lo */
  margin: 20px auto; /* Centraliza o botão horizontalmente e adiciona espaço vertical */
  padding: 15px; /* Espaçamento interno para formar um círculo; ajuste conforme necessário */
  width: 130px; /* Largura do botão para torná-lo um círculo; ajuste conforme necessário */
  height: 80px; /* Altura do botão para torná-lo um círculo; ajuste conforme necessário */
  border-radius: 50%; /* Torna o botão redondo */
  border: none; /* Remove a borda padrão */
  background-color: #808080; /* Cor de fundo cinza */
  color: white; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte; pode precisar ajustar se o texto for muito longo */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  text-align: center; /* Alinha o texto ao centro */
  line-height: 30px; /* Ajusta a altura da linha para centralizar o texto verticalmente */
}

.botao-redondo:hover {
  background-color: #696969; /* Cor de fundo ao passar o mouse, um cinza mais escuro */
}
